html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: #03a9f4;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #03a9f4;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* https://drewish.com/tools/vertical-rhythm/ numbers : 14 - 22 - 36,30,22,20,18,16 */
p,
ul,
ol {
  font-size: 1em; /* 14px */
  line-height: 1.5714em; /* 22px */
  margin: 0 0 1.5714em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
}
h1 {
  font-size: 2.5714em; /* 36px */
  line-height: 1.2222em; /* 44px */
  margin-top: 0;
}
h2 {
  font-size: 2.1429em; /* 30px */
  line-height: 1.4667em; /* 44px */
}
h3 {
  font-size: 1.5714em; /* 22px */
  line-height: 1em; /* 22px */
}
h4 {
  font-size: 1.4286em; /* 20px */
  line-height: 1.1em; /* 22px */
}
h5 {
  font-size: 1.2857em; /* 18px */
  line-height: 1.2222em; /* 22px */
}
h6 {
  font-size: 1.1429em; /* 16px */
  line-height: 1.375em; /* 22px */
}

p {
  margin-top: 1em;
  margin-bottom: 0;
  text-wrap: pretty;
}

small {
  font-size: 0.7em;
  color: #777;
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}
b,
strong,
em,
small {
  line-height: 1;
}

.s-content :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 1.5em;
  margin-bottom: -0.25rem;
}

.s-content h1 {
  margin-top: 0;
}
