---
layout: default
title: Onigoetz.ch
---

<article class=post>
	<p>Here is a list of my projects, small or big, forks or original work.</p>

	<span class="project project-active">Active</span>
	<span class="project project-wip">Work In Progress</span>
	<span class="project project-unmaintained">Not actively maintained</span>
	<span class="project project-abandoned">Abandoned</span>
</article>

{% for project_category in site.projects %}
<section>
	<h2>{{ project_category.name }}</h2>

	{% if project_category.description %}
	<h3>{{ project_category.description }}</h3>
	{% endif %}

	{% for project in project_category.projects %}
		{% include project.html project=project %}
	{% endfor %}
</section>
{% endfor %}
