.tag {
  margin-left: 0.5em;
}

.hero {
  position: relative;
  background: #000;
  color: #fff;
  text-align: center;
}

/*
 * Ensure golden ratio for the hero size while limiting
 * it to some extend to the viewport width
 */
.heroImage {
  height: 61.8vh;
  max-height: 400px;
  margin: -2rem -2rem 2rem -2rem;
}
