<!-- Footer
================================================== -->

<footer class="bs-footer" role="contentinfo">
  <div class="container">
    {% include social-buttons.html %}
	<p>&copy; 2014 Onigoetz.ch</p>
  </div>
</footer>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3551397-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
-->
<script src="//onigoetz.ch/github-buttons/btn.min.js" async></script>
