<!-- Footer
================================================== -->

<footer class="bs-footer" role="contentinfo">
  <div class="container">
    {% include social-buttons.html %}
	<p>&copy; 2014 Onigoetz.ch</p>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="../assets/js/docs.min.js"></script>
