<div class="project project-{{ include.project.status }}">
    <h4>
        {% if include.project.github %}
            <a href="https://github.com/{{ include.project.github }}">{{ include.project.name }}</a>
        {% elsif include.project.url %}
            <a href="{{ include.project.url }}">{{ include.project.name }}</a>
        {% else %}
            {{ include.project.name }}
        {% endif %}

        {% if include.project.technologies %}
            <span>
                {% for technology in include.project.technologies %}<i class="technology technology-{{ technology }}"></i>{% endfor %}
            </span>
        {% endif %}
    </h4>

    {% if include.project.documentation %}
        <a href="{{ include.project.documentation }}" target="_blank">Documentation</a>
    {% endif %}

    {% for description in include.project.description %}
        <p>{{ description }}</p>
    {% endfor %}

    {% if include.project.projects %}
        <section>
            {% for subproject in include.project.projects %}
                {% include subproject.html project=subproject %}
            {% endfor %}
        </section>
    {% endif %}

    {% if include.project.badges %}
        <div class=badges>{% for badge in include.project.badges %} {{ badge }} {% endfor %}</div>
    {% endif %}
</div>
