.element {
  appearance: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition:
    background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  white-space: nowrap;

  font-size: 1.2rem;
  height: 2.5em;
  line-height: 0.8em;
  padding: 0.3em 0.5em;
  border-radius: 2px;

  border: 1px solid rgba(0, 0, 0, 0.1);

  background: #03a9f4;
  color: #fff;
}

.secondary {
  background: #ddd;
  color: #333;
}
