.element {
  border-radius: 0.25rem;

  position: relative;
  display: inline-block;
  height: 20px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  vertical-align: top;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
}

.active {
  color: #fff;
  background: #5cb85c;
}

.wip,
.experiment {
  color: #fff;
  background: #5bc0de;
}

.unmaintained {
  background: #f0ad4e;
}

.abandoned {
  color: #fff;
  background: #d9534f;
}
