.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

/** mobile first: articles take the full width */
.container > article {
  grid-column: auto/ span 6;
}

.container > article h2 {
  font-size: 1.2rem;
  line-height: 0.95;
}

/** on larger screens: put two articles on the same row but keep the first one on one row */
@media (min-width: 480px) {
  .container > article:not(:first-child) {
    grid-column: auto / span 3;
  }
}

@media (min-width: 1200px) {
  /* on very large screens: put the first two articles on the same row */
  .container > article:is(:first-child, :nth-child(2)) {
    grid-column: auto / span 3;
  }

  /* all other rows contain three articles */
  .container > article:not(:first-child, :nth-child(2)) {
    grid-column: auto / span 2;
  }
}
